<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Diagnostic Buffer</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>
<body class="viewer-body">
     <div class="content-card">
        <div class="card-header"><h2>Live Diagnostic Entries</h2></div>
        <pre id="diagnostic-content" class="table-container"></pre>
        <div class="viewer-actions">
            <button id="save-diagnostic-btn" class="action-btn-secondary">Save as Text</button>
        </div>
    </div>
    <script src="renderer.js"></script>
</body>
</html>